[user]
	name = jonafll
	email = contact@jonafellisch.com
	signingKey = E1F2ED52206682E0

[init]
	defaultBranch = master

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[alias]
	st = status
	cm = commit -m
	cma = commit -am
	co = checkout
	cob = checkout -b
	sw = switch
	swc = switch -c
	rs = restore
	brdel = branch -D
	rv = remote -v
	a = add
	aa = add -A
	resh = reset --hard
	pu = push
	puf = push --force
	br = branch -vv
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	undo = reset HEAD~1 --mixed
	ls = log --oneline
	lal = log --oneline --graph --branches
	conf = config --global -l
	wip = commit -am WIP --no-verify
	get = cherry-pick --no-commit
	
[pull]
	ff = only
