[user]
	name = jonafll
	email = contact@jonafellisch.com
	signingKey = E1F2ED52206682E0

[init]
	defaultBranch = master

[commit]
	gpgsign = true

[tag]
	gpgSign = true

[alias]
	st = status
	co = checkout
	cm = commit -m
	cob = checkout -b
	del = branch -D
	rv = remote -v
	res = !git reset --hard
	done = !git push origin HEAD
	br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
	unstage = reset HEAD --
	last = log -1 HEAD --stat
	undo = reset HEAD~1 --mixed
	ll = log --oneline
	lal = log --oneline --graph --branches
	conf = config --global -l
	wip = commit -am WIP --no-verify
	
[pull]
	ff = only
